/* regola genarli */
*{
    margin:0;
    padding: 0;
}

body {
    font-family:"Helvetica Neue", Helvetica, "sans-serif";
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
    background-color: #fff;
}

/* fine regole generali */

/*header*/

.navbar {
    min-height: 50px;
    border-bottom: 1px solid #080808;
    position: absolute;
}

.container {
    height: 150px;
    width:100%;
    margin:0 auto;
    border-bottom: 1px solid gray;
}
.date-container{
    width:15%;
    position: relative;
    float: left;
    top:5px;
    padding:20px;
    height:50px;
    left:2%
}
#date-menu li{
    display:block;
    min-height:30px;
    font-size: 12px;
}

.todays-paper{
    color: black;
    text-decoration: white;
}

.title-logo a img{
    position: relative;
    width:45%;
    float:left;
    top:5px;
    left:10%;
    min-width: 250px;

}

/* TODO rivere css di sign in e subscribe */
/*
.sign-wrapper{
    position:relative;
    width: 15%;
    float: left;
    right:10px;

}
*/

.sign-in {
    width:55px;
    position: relative;
    float:left;
    padding:0;
    right:1%;
    top:20px;
    color: black;

}

.subscribe-button{
    position: relative;
    right:0;
    top:15px;
    float:left;


}
.subscribe-button a{
    position: relative;
    top:0;
}

.subscribe-button a button{
    position:relative;
    padding: 10px;
    left:20%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(254, 213, 97);
    border-color:rgb(254, 213, 97);
    text-transform: uppercase;


}