
/* regola genarli */
*{
    margin:0;
    padding: 0;
}

body {
    font-family:"Helvetica Neue", Helvetica, "sans-serif";
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
    background-color: #fff;
}

/* fine regole generali */

/*header*/

.navbar {
    min-height: 50px;
    border-bottom: 1px solid #080808;
    position: absolute;
    width:100%;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}
.menu-wrapper{
    width:100%;
    margin:0 auto;
    border-bottom: 1px solid gray;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;

}

@media all and (max-width: 1100px){
    .menu-wrapper {
        margin: 0 auto;
        border-bottom: 2px solid black;
        display: flex;
        height: 60px;
    }
}

.menu-primary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.date-container{

    flex-basis:10%;
    align-self: center;
    padding-left: 20px;

}


#date-menu li{
   display:block;
    min-height:30px;
    font-size: 12px;

}
@media (max-width: 1100px) {
    .date-container {
        display: none;
    }
}

.todays-paper{
    color: black;
    text-decoration: white;
}

.title-logo{
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.title-logo a img{
    max-width:500px;
}

@media (max-width: 1100px ){
    .title-logo{

    }
}

/*fixme rivedere immagine titolo */
/*TODO Responsività e mobile */

@media (max-width: 470px){
    .title-logo a{
        content: url(../images/logo.png);
        width: 140px;
        height:60px;
        position:absolute;
        left:80px;


    }
}



.sign-wrapper{
    flex-basis: 180px;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-self: center;

}


@media (max-width: 1100px) {
    .sign-wrapper {
       display: none;
    }
}

.sign-in{
    color: black;
    align-self: center;

}

.subscribe-button{
    background-color: rgb(254, 213, 97);
    border-color:rgb(254, 213, 97);
    text-transform: uppercase;
    width: 120px;
    height: 50px;

}

.menu-secondary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;



}
.hamburger-menu{
    display: flex;
    flex-direction: row;
    flex-basis:5%;
    justify-content: space-around;
}

@media all and (max-width: 1100px){
    .hamburger-menu{
        position: absolute;
        left: 20px;
        top:10px;

    }
}

.hamburger, .search{
    display: inline;
    margin: 5px;

}

.ham1, .ham2, .ham3{
    background-color: black;
    width:16px;
    height:2px;
    position:relative;
    margin: 3px 0 0 0;
    display: block;

}


#topic-list li{
    display: inline-block;
    text-transform: uppercase;

    padding:12px;

}
#topic-list li a{
    text-decoration-line: none;
    color:black;
}

@media all and (max-width: 1100px){
    #topic-list{
        display: none;
    }
}

.adv{
    align-self: center;
    padding:10px;
}

/* start NEWS STYLE RULES */

.news{
    margin: 20px;
    display:flex;
    flex-direction: row;
    max-width: 1260px;
    align-self: center;
}

.piece1{
    flex-basis:45%
}
.piece2{
    flex-basis: 35%
}

.latest{
    flex-basis: 20%;
}

.piece1, .piece2,.latest{
    margin:10px;
    display:flex;
    flex-direction: column;
}

.piece1-img, .title1, .piece2-img, .title2{
    margin-bottom:10px;
}

.latest-title{
    border-bottom: 1px solid black;
    padding-bottom: 12px;
}

.a-latest{
    border-bottom: 1px solid grey;
    padding: 12px;

}

.a-latest a{
    color:black;
    text-decoration: white;
}

.a-latest a

/*end NEWS STYLE RULES */

/*

.sign-in {
    width:55px;
    position: relative;
    float:left;
    padding:0;
    top:20px;
    color: black;

}
*/




/* prima versione
.sign-in {
    width:55px;
    position: relative;
    float:left;
    padding: 15px;
    left:11%;
    top:15px;
}

.subscribe-button{
    position: absolute;
    right:5%;
    top:15px;
    float:left;
    clear:left;
}
.subscribe-button a{
    width:15%;
    position: relative;

    top:0;

}

.subscribe-button a button{
    position:relative;
    padding: 10px;
    left:20%;
}
 */