/* regola genarli */
*{
    margin:0;
    padding: 0;
}

body {
    font-family:"Helvetica Neue", Helvetica, "sans-serif";
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
    background-color: #fff;
}

/* fine regole generali */

/*header*/

.navbar {
    min-height: 50px;
    border-bottom: 1px solid #080808;
    position: absolute;
}
.container{
    display: flex;
    flex-direction: column;
}
.menu-wrapper{
    width:100%;
    margin:0 auto;
    border-bottom: 1px solid gray;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.menu-primary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}


.date-container{

    flex-basis:10%;
    align-self: center;
    padding-left: 20px;

}


#date-menu li{
   display:block;
    min-height:30px;
    font-size: 12px;

}
@media (max-width: 900px) {
    .date-container {
        display: none;
    }
}

.todays-paper{
    color: black;
    text-decoration: white;
}

.title-logo{

    flex-basis: 70%;
    max-width: 100%;


}


@media (max-width: 900px ){
    .title-logo{
        position:relative;
        width:95%;

    }
}

/* TODO rivere css di sign in e subscribe */

.sign-wrapper{
    flex-basis: 15%;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-self: center;

}


@media (max-width: 900px) {
    .sign-wrapper {
       display: none;
    }
}

.sign-in{
    color: black;
    align-self: center;

}

.subscribe-button{
    background-color: rgb(254, 213, 97);
    border-color:rgb(254, 213, 97);
    text-transform: uppercase;
    width: 120px;
    height: 50px;

}

.menu-secondary{
    display: flex;
    flex-direction: row;



}
.hamburger-menu{
    display: flex;
    flex-direction: row;
    flex-basis:10%;
    justify-content: space-evenly;
}

.hamburger, .search{
    display: inline;
    margin: 5px;

}

.ham1, .ham2, .ham3{
    background-color: black;
    width:16px;
    height:2px;
    position:relative;
    margin: 3px 0 0 0;
    display: block;

}

#topic-list li{
    display: inline-block;
    text-transform: uppercase;

    padding:12px;

}
#topic-list li a{
    text-decoration-line: none;
    color:black;
}

.adv{
    align-self: center;
    padding:20px;
}

.news{
    margin: 20px;
    display:flex;
    flex-direction: row;

}


/*

.sign-in {
    width:55px;
    position: relative;
    float:left;
    padding:0;
    top:20px;
    color: black;

}
*/




/* prima versione
.sign-in {
    width:55px;
    position: relative;
    float:left;
    padding: 15px;
    left:11%;
    top:15px;
}

.subscribe-button{
    position: absolute;
    right:5%;
    top:15px;
    float:left;
    clear:left;
}
.subscribe-button a{
    width:15%;
    position: relative;

    top:0;

}

.subscribe-button a button{
    position:relative;
    padding: 10px;
    left:20%;
}
 */